<%= form_for @atividade,  html: { multipart: true } do |form| %>
  <% if atividade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(atividade.errors.count, "error") %> prohibited this atividade from being saved:</h2>

      <ul>
      <% atividade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :usuario, value: current_user.email%>

  <div class="field">
    <%= form.label :tipoatividade %>
    <%= select("atividade", "tipoatividade", ['Bicicleta', 'Corrida', 'Natação'], {include_blank: "Selecione"}) %>
  </div>

  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo %>
  </div>

  <div class="field">
    <%= form.label :duracao %>
    <%= form.number_field :duracao %>
  </div>

  <div class="field">
    <%= form.label :data %>
    <%= form.date_select :data %>
  </div>

  <div class="field">
    <%= form.label :foto %>
    <%= form.file_field :foto %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
